@import '../../style.scss'; 


  .slider{
    display: flex;
    overflow: hidden;
  }
  .slideWrapper{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style:none;
    margin-bottom: 5vh ;
    &::-webkit-scrollbar{
      width:0;
      background:transparent
    }
  }
  .movieIcon{
    margin-right: 1rem;
    align-items: center;
    font-size: 2rem;
    color: red
    }
  .tvIcon{
    margin-right: 1rem;
    align-items: center;
    font-size: 2rem;
    color: blue
    }
  .personIcon{
    margin-right: .5rem;
    align-items: center;
    font-size: 1.5rem;
    color: green
    }

    .topHomeImageWrapper{
      margin: auto;
      position:absolute; 
      .image{
       -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
      mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0) 50%);
      width: 100%;
      }
      .buttonWrapper{
        width: 100vw;
        height:100%;
        .mediaPopButton{
          position: absolute;
          color:white !important;
          border-color: white !important
        }
        .fabOutline{
          position: absolute;
          background-color: transparent;
          color:white !important;
          box-shadow: -1px 1px 20px (white) !important
        }
      }
    };
    .largeCard{
      border-radius: 10 !important;
      box-shadow: 2.5px 2.5px 4px 3px rgba(0,0,0,0.75) !important;
    }
    .largeCardMedia{
      position: 'relative' !important;
      height: 100% !important;
      text-align: center !important;
    }
    .Card{
      border-radius: 10 !important;
      box-shadow: 2.5px 2.5px 4px 3px rgba(0,0,0,0.75) !important;
    }
    .CardMediaWrapper{
      position: relative;
      height: 100% !important
    }
    .CardMedia{
      position: 'relative' !important;
      margin: auto !important; 
      text-align: center !important;
      
    }
    .CardOverlay{
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: absolute;
      background-color: rgba(10, 10, 10, 0.7);
      bottom:0;
      left: 0;
      right: 0;
    }
    .overlayText{
      color:white !important
    }
    
  @include for-phone-only-portrait{
    .topHomeImageWrapper{
      top:3.5rem; 
      left:0; 
      width: 100vw;
      .image{
        min-height: 30vh;
      }
      .buttonWrapper{
        .mediaPopButton{
          bottom: 10%;
          right: 5vw;
        }
        .fabOutline{
          bottom: 45%;
          right: 48%;
        }
      }
    };
    .lowerHomePage{
      margin-top:30vh
    }
    .largeCard{
      min-width: 60vw !important;
      margin: 4vw !important;
    }
    .largeCardMedia{
      min-height: 20vh !important;
      padding-top: 40%;
    }
    .largeIconMedia{
      font-size: 7.5rem;
      margin-top:-25% !important;
    }
    .Card{
      min-width: 19vh !important;
      margin: 2vw !important;
    }
    .CardMedia{
      min-height: 20vh !important;
      padding-top: 56.25%;
    }
    .CardOverlay{
      max-height:10%;
    }
    .iconMedia{
      font-size: 7.5rem;
      margin-top:-45% !important;
    }
    
    .slideWrapper{
     
      &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0,0,0,0.0) !important;
        background-color: transparent !important;
      }
  
      &::-webkit-scrollbar{
        background-color: transparent !important;
      }
  
      &::-webkit-scrollbar-thumb{
        box-shadow: inset 0 0 6px rgba(0,0,0,0) !important;
        background-color: transparent !important;
      }
    }

  }
  @include for-phone-landscape-up{

    .topHomeImageWrapper{
      top:3.9rem; 
      left:0vw; 
      width: 100vw;
      .image{
        min-height: 30vh;
        max-height: 70vh;
      }
      .buttonWrapper{
        .mediaPopButton{
          bottom: 10%;
          right: 5vw;
        }
        .fabOutline{
          bottom: 45%;
          right: 48%;
        }
      }
    };
    .lowerHomePage{
      margin-top:65vh
    }
    .largeCard{
      min-width: 30vw !important;
      margin: 2vw !important;
    }
    .largeCardMedia{
      min-height: 20vh !important;
      padding-top: 40%;
    }
    .largeIconMedia{
      font-size: 7.5rem;
      margin-top:-25% !important;
    }
    .Card{
      min-width: 25vh !important;
      margin: 2vw !important;
    }
    .CardMedia{
      min-height: 26vh !important;
      padding-top: 56.25%;
    }
    .CardOverlay{
      max-height:10%;
    }
    .iconMedia{
      font-size: 7.5rem;
      margin-top:-45% !important;
    }
    

  }
  @include for-tablet-portrait-up{

    .topHomeImageWrapper{
      top:4rem; 
      left:0; 
      width: 100vw;
      .image{
        min-height: 30vh;
      }
      .buttonWrapper{
        .mediaPopButton{
          bottom: 10%;
          right: 5vw;
        }
        .fabOutline{
          bottom: 45%;
          right: 48%;
        }
      }
    };
    .lowerHomePage{
      margin-top:40vh !important;
    }
    .largeCard{
      min-width: 50vw !important;
      margin: 2vw !important;
    }
    .largeCardMedia{
      min-height: 18vh !important;
      padding-top: 40%;
    }
    .largeIconMedia{
      font-size: 7.5rem;
      margin-top:-25% !important;
    }
    .Card{
      min-width: 19vh !important;
      margin: 2vw !important;
    }
    .CardMedia{
      min-height: 20vh !important;
      padding-top: 56.25%;
    }
    .CardOverlay{
      max-height:10%;
    }
    .iconMedia{
      font-size: 7.5rem;
      margin-top:-45% !important;
    }


  }
  @include for-desktop-up{

    .topHomeImageWrapper{
      .image{
        min-height: 100vh;
        image-rendering: auto !important;
      }
      .buttonWrapper{
        .mediaPopButton{
          bottom: 40%;
          right: 15vw;
        }
        .fabOutline{
          bottom: 60%;
          right: 48%;
        }
      }
    }

    .slideWrapper{
     
      &::-webkit-scrollbar-track{
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
        border-radius: 10px !important;
        background-color: transparent !important;
      }
  
      &::-webkit-scrollbar{
        height: 10px !important;
        border-radius: 10px !important;
        background-color: transparent !important;
      }
  
      &::-webkit-scrollbar-thumb{
        border-radius: 10px !important;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3) !important;
        background-color: #555 !important;
      }
    }

    .largeCard{
      min-width: 20vw !important;
      margin: 2vw !important;
    }

  }