@import '../../style.scss';
 
.appBar{
  background-color:rgb(245, 4, 4) !important;
  .toolBar{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    .loginButton{
      background-color: $purple;
      color: white;
      font-weight: 600;
    }
  }
}  
  .center {
    text-align: center;
    justify-content: center;
    align-self: center;
  }

  /////////////

  
  .loginTextFieldWrapper{
    display:flex !important;
    flex-direction: column !important;

  }

  @include for-phone-only-portrait{}
  @include for-phone-landscape-up{}
  @include for-tablet-portrait-up{}
  @include for-tablet-landscape-up{}
  @include for-desktop-up{}