@import '../../style.scss';

.trailerDialog{
  background-color: rgba(0, 0, 0, 0.815) !important;
  
}

.trailerDialogContent{
  background-color: black !important;
  box-shadow: 1px 2px 3px var(rgba(0, 0, 0, 0.9));
  position: absolute;
  padding:0 !important;
}
.iframe{
  border:black !important;
}

  @include for-phone-only-portrait{
    .trailerDialogContent{
      top: 25vh;
      left: 12.5vw;
    }
    .iframe{
      width: 75vw;
      height: 25vh;
    }
   
  }
  @include for-phone-landscape-up{
    .trailerDialogContent{
      top: 12.5vh;
      left: 25vw;
    }
    .iframe{
      width: 50vw;
      height: 75vh;
    }
  }
  @include for-tablet-portrait-up{
    .trailerDialogContent{
      top: 25vh;
      left: 12.5vw;
    }
    .iframe{
      width: 75vw;
      height: 25vh;
    }
  }
  @include for-tablet-landscape-up{
    .trailerDialogContent{
      top: 25vh;
      left: 12.5vw;
    }
    .iframe{
      width: 75vw;
      height: 50vh;
    }
  }
  @include for-desktop-up{
    .trailerDialogContent{
      top: 25vh;
      left: 25vw;
    }
    .iframe{
      width: 50vw;
      height: 50vh;
    }
  }