@import '../../style.scss';

  @include for-phone-only-portrait{
    .trailerDialog{
        background-color: rgba(0, 0, 0, 0.9) !important;
        
    }

    .trailerDialogContent{
        background-color: black !important;
        box-shadow: 1px 2px 3px var(rgba(0, 0, 0, 0.9));
        padding:0 !important
    }

    .iframe{
        width: 100%;
        border:black !important
    }
  }
  @include for-phone-landscape-up{}
  @include for-tablet-portrait-up{}
  @include for-tablet-landscape-up{}
  @include for-desktop-up{}