@mixin for-phone-only-portrait {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-phone-landscape-up {
    @media (min-width: 0px) and (orientation:landscape) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (orientation:portrait) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (orientation:landscape) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) and (orientation:landscape) { @content; }
  }
 
  body {
    margin: 0;
    padding: 0;
    font-size: 8px;
    font-family: 'Arvo', bold;
    background-image: linear-gradient(to right, #7b4397 , #dc2430);;
  }
  .pageLayout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .pageContentLayout{
    flex: 1 0 auto;
    margin-top: 4rem
  }
.appBar{
  background-color:rgba(245, 4, 4, 0.575) !important;
  .toolBar{
    width:90%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center
  }
}  
  .center {
    text-align: center;
    justify-content: center;
    align-self: center;
  }
  .movieIcon{
    margin-right: 1rem;
    align-items: center;
    font-size: 2rem;
    color: red
    }
  .tvIcon{
    margin-right: 1rem;
    align-items: center;
    font-size: 2rem;
    color: blue
    }
  .personIcon{
    margin-right: .5rem;
    align-items: center;
    font-size: 1.5rem;
    color: green
    }

  @include for-phone-only-portrait{}
  @include for-phone-landscape-up{}
  @include for-tablet-portrait-up{}
  @include for-tablet-landscape-up{}
  @include for-desktop-up{}