@import '../../style.scss';
 
  .fabloc{
      position: fixed;
      right: 5vw;
      bottom: 5vh;
      .fab{
        background-color: #7b4397;
        color: white
      }
  }
  .searchInput {
    z-index: 5;
    background-color: White;
    position: sticky; top: 0px;
    height: 4rem
  }
  .listHeight{
    z-index: 1;
    max-height:8rem !important;

  }
  .avatar{
   
    .movieIcon{
      margin: 0 auto;
      font-size: 1.8rem;
      color: $red
    }
    .tvIcon{
      margin: 0 auto;
      font-size: 1.8rem;
      color: $blue
    }
    .personIcon{
      margin: 0 auto;
      font-size: 1.8rem;
      color: $green
    }
  }


  @include for-phone-only-portrait{

    .listHeight{
      max-height:60vh !important;
      width:60vw
    }

  }

  @include for-phone-landscape-up{

    .listHeight{
      max-height: 70vh !important;
      width:40vw
    }

  }
  @include for-tablet-portrait-up{

    .listHeight{
      max-height: 70vh !important;
      width:60vw
    }

  }
  @include for-tablet-landscape-up{}

  @include for-desktop-up{
    
    .listHeight{
      max-height:60vh !important;
      width:30vw
    }
  }