@mixin for-phone-only-portrait {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-phone-landscape-up {
    @media (min-width: 0px) and (orientation:landscape) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) and (orientation:portrait) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) and (orientation:landscape) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) and (orientation:landscape) { @content; }
  }
 
  .fabloc{
      position: fixed;
      right: 5vw;
      bottom: 5vh;
      .fab{
        background-color: #7b4397;
        color: white
      }
  }
  .searchInput {
    z-index: 5;
    background-color: White;
    position: sticky; top: 0px;
    height: 4rem
  }
  .listHeight{
    z-index: 1;
    max-height:8rem !important
  }

  @include for-phone-only-portrait{}
  @include for-phone-landscape-up{}
  @include for-tablet-portrait-up{}
  @include for-tablet-landscape-up{}
  @include for-desktop-up{}